
body{
    font-family: Roboto, sans-serif;
}

.navbar {
    background-color: #794848;
    color: white;
}

.section-title{
    font-family: "Playwrite GB S", cursive;
}
#cabecalho .nav-link{
    color:white;
}

#cabecalho .nav-link.active, #contato button {
    background-color: whi;
    color: #eecc0e;
}

.navbar-toggler{
    background-color: #794848;
}

.text-colored {
    color: #ffff;
}

#sobre-livraria, #acervo{
    background-color:#794848;
}
.text-colored-light {
    color: whi;
}

.text-colored-green {
    color: #9b881e;
}

#acervo .nav-link.active {
    background-color: #ffffff;
    color:whi;
}

#acervo .nav-link {
    color: #9b881e;
}

.social-links li{
    display: inline;
    list-style: none;
}

.social-links a{
    text-decoration: none;
}

#acervo .tab-pane img {
    width: 200px;
    height: 350px;
}


@media (max-width: 767px){
    
    #acervo .tab-pane img {
        height: 500px;
    }
    
}


.carousel-inner {
    padding: 0; 
}





